@media only screen and (max-width: 910px) {
  body {
    overflow-x: hidden;
  }

  h1.main {
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    margin: 0 0.5rem 0.5rem 0.5rem;
    padding: 1.5rem 1rem 1rem 1rem;
    width: 100%;
  }

  nav {
    background: rgb(75, 38, 15);
    background: linear-gradient(
      126deg,
      rgba(248, 240, 236, 1) 12%,
      rgba(175, 90, 37, 1) 57%,
      rgba(75, 38, 15, 1) 92%
    );
  }
  div.header-icons-desktop {
    display: none;
  }

  div.header-icons-mobile {
    display: block;
    position: absolute;
    top: 5px;
    right: 10px;
  }

  img.icon {
    width: 4rem;
  }

  nav {
    opacity: 85%;
    display: flex;
    padding: 1rem;
  }

  .menu {
    position: absolute;
    right: 0px;
    height: 50vh;
    top: 10vh;
    background-color: #af5a25;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    opacity: 0%;
    transition: transform 0.5s ease-in;
  }

  .menu li {
    opacity: 0;
  }

  .menu a {
    color: white;
    transition: all 800ms ease;
  }

  .menu a:hover {
    text-decoration: underline;
  }

  .menu a:focus {
    color: #955a47;
  }

  .burger {
    display: block;
    cursor: pointer;
    transition: all 800ms ease;
    float: left;
  }

  .burger:hover {
    opacity: 80%;
  }

  .dropdown-content a {
    color: #955a47;
  }

  .dropdown:hover .dropdown-content {
    display: grid;
    opacity: 100%;
  }

  .dropdown-content a:hover {
    background-color: #f0f0ef;
    color: #955a47;
  }

  .main-picture {
    display: none;
  }
  .main-picture-mobile {
    display: block;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }

  button.book-desktop {
    display: none;
  }

  button.book-mobile {
    display: inline;
    position: absolute;
    transform: translate(5%, -200%);
    -ms-transform: translate(5%, 100%);
    background-color: #af5a25;
    color: #f8f0ec;
    font-size: 2rem;
    padding: 2rem 8rem;
    border: white 1px solid;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 900;
    box-shadow: rgba(248, 248, 246, 0.35) 0px 5px 15px;
    transition: all 800ms ease;
    opacity: 90%;
  }

  div.service,
  div.photos,
  div.recension,
  div.contact,
  div.horario,
  div.about-me,
  div.you-know,
  div.price-list {
    padding: 1rem;
  }

  div.recension,
  div.photos {
    padding-bottom: 10rem;
  }

  #recensions {
    color: #af5a25;
  }

  a.follow {
    margin-bottom: 15rem;
    padding: 1.5rem;
  }

  p.special-service {
    display: flex;
    flex-direction: column;
  }

  span.service1,
  span.service2,
  span.service3 {
    width: 100%;
  }

  img.service-icon {
    width: 30%;
  }

  p {
    padding: 2rem 2rem 3rem 2rem;
  }

  p.they-say {
    font-size: 1.8rem;
    padding: 2rem 2rem 3rem 2rem;

    gap: 4rem;
    text-align: justify;
    display: flex;
    flex-direction: column;
  }

  img.alfaparf {
    float: left;
    width: 100%;
    cursor: pointer;
    padding: 2rem;
    float: left;
  }

  .contact-text {
    font-size: calc(1.2rem + 1vw);
  }

  img.portrait {
    border-radius: 2%;
    width: 100%;
  }

  img.salon {
    border-radius: 2%;
    width: 100%;
  }

  div.horario {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  footer {
    font-size: calc(0.8rem + 1vw);
  }
}

.nav-active {
  opacity: 100%;
}
