@media only screen and (max-width: 1024px) {
  p {
    padding: 2rem 2rem 3rem 2rem;
  }

  h1.main {
    font-size: 3.5rem;
  }

  nav {
    padding: 1rem 1rem 1rem 2rem;
  }

  a.a-menu {
    font-size: 1.6rem;
  }

  div.logo-desktop {
    position: absolute;
    top: -2800%;
    left: 30%;
  }

  p.special-service {
    flex-direction: column;
    align-items: center;
  }

  span.service1,
  span.service2,
  span.service3 {
    padding: 2rem;
    width: 70vw;
  }

  span.color,
  span.cut,
  span.treatment {
    border: none;
    margin: 1rem;
    width: 80vw;
  }

  p.they-say {
    flex-direction: column;
  }

  .follow {
    margin-bottom: 5rem;
  }

  img.salon {
    margin: 2rem;
  }

  div.photos div img {
    width: 30vw;
    max-height: vw;
    margin-right: 15px;
    transition: all 800ms ease;
  }

  div.side {
    width: 70%;
  }

  img.alfaparf {
    width: 80%;
    padding: 2rem;
    border-radius: 5rem;
    margin: 1rem;
    display: block;
  }

  img.portrait {
    width: 40%;
  }

  div.horario {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}

footer {
  font-size: calc(0.8rem + 1vw);
}
