@media only screen and (max-width: 1024px) {
  p {
    padding: 2rem 2rem 3rem 2rem;
  }

  h1.main {
    font-size: 3.5rem;
  }

  nav {
    padding: 1rem 1rem 1rem 2rem;
  }

  a.a-menu {
    font-size: 1.6rem;
  }

  div.service {
    padding: 5rem 0rem 10rem 0rem;
  }
  p.special-service {
    flex-direction: column;
    align-items: center;
  }

  p.they-say {
    flex-direction: column;
  }

  .follow {
    margin-bottom: 5rem;
  }

  img.salon {
    margin: 2rem;
  }

  div.photos div img {
    width: 30vw;
    margin-right: 15px;
    transition: all 800ms ease;
  }

  div.you-know,
  div.about-me {
    grid-column: 1/4;
  }

  div.you-know {
    grid-row: 2/3;
  }

  div.about-me {
    grid-row: 1/2;
  }

  img.alfaparf {
    width: 40%;
    padding: 2rem;
    border-radius: 5rem;
    margin: 1rem;
    display: block;
  }

  div.horario {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}

footer {
  font-size: calc(0.8rem + 1vw);
}
